.hero-banner {
  position: relative;
  height: 100dvh;
  background-image: url("/img/banner.jpg");
  background-position-y: 20%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 40;
}
@media screen and (max-width: 768px) {
  .hero-banner {
    background-position-x: 20%;
  }
}
.hero-banner .content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  text-align: center;
}
.hero-banner .content h1 {
  margin: 0;
}

.bottom-content {
  position: absolute;
  bottom: 40px;
  right: 100px;
  z-index: 100;
  margin: 0;
  font-size: 64px;
}
@media screen and (max-width: 768px) {
  .bottom-content {
    font-size: 38px;
    right: 20px;
    bottom: 35px;
  }
}

.text-white {
  color: white;
  z-index: 40;
}

.text-black {
  color: black;
  z-index: 0;
}

.second-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.second-container .heading {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.second-container .heading .service-heading {
  font-size: 64px;
  color: black;
  margin: 0;
  font-weight: 600;
  max-width: 1100px;
}
@media screen and (max-width: 768px) {
  .second-container .heading .service-heading {
    font-size: 28px;
    max-width: 90%;
  }
}

.bento-image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  height: 100dvh;
}
.bento-image .img-container {
  position: relative;
  width: 400px;
  height: 500px;
  -webkit-clip-path: polygon(15% 1%, 95% 7%, 95% 90%, 0% 100%);
          clip-path: polygon(15% 1%, 95% 7%, 95% 90%, 0% 100%);
}
@media screen and (max-width: 768px) {
  .bento-image .img-container {
    width: 250px;
    height: 350px;
  }
}
.bento-image .img-container img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
}
.bento-image .title-container {
  align-items: flex-start;
  justify-content: start;
}
.bento-image .service-title {
  position: absolute;
  top: 20%;
  left: 25%;
  color: white;
  z-index: 100;
  opacity: 0;
  max-width: 700px;
}
@media screen and (max-width: 768px) {
  .bento-image .service-title {
    left: 0;
    top: 100px;
    max-width: 100%;
    padding: 0 20px;
  }
}
.bento-image .service-title h2 {
  font-size: 60px;
  font-weight: 400;
  line-height: 68px;
  color: white;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .bento-image .service-title h2 {
    font-size: 32px;
    line-height: 50px;
  }
}
.bento-image .service-title p {
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  .bento-image .service-title p {
    font-size: 14px;
  }
}

.text-reveal-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  margin-top: 200px;
}
@media screen and (max-width: 768px) {
  .text-reveal-container {
    margin-top: 100px;
  }
}
.text-reveal-container .reveal {
  max-width: 60%;
}
@media screen and (max-width: 768px) {
  .text-reveal-container .reveal {
    max-width: 80%;
  }
}
.text-reveal-container .reveal-text {
  font-weight: 800;
  font-size: 7rem;
  line-height: 9rem;
  text-transform: uppercase;
  color: #ffffff;
  filter: drop-shadow(0 0 0.06rem rgb(2, 2, 2));
}
@media screen and (max-width: 768px) {
  .text-reveal-container .reveal-text {
    font-size: 3rem;
    line-height: 4rem;
  }
}

/* Main Story Section */
.story-section {
  height: 100dvh;
  color: #e0f2fe;
  /* Equivalent to text-blue-50 */
}

/* Content Wrapper */
.story-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Animated Title */
}
.story-content .story-title {
  font-size: 100px;
  margin-top: 5px;
  pointer-events: none;
  mix-blend-mode: difference;
  position: relative;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  .story-content .story-title {
    font-size: 40px;
  }
}
.story-content .story-image-container {
  width: 900px;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}
.story-content .story-image-container img {
  border-radius: 12px;
  -webkit-clip-path: polygon(9% 0, 76% 1%, 93% 73%, 27% 100%);
          clip-path: polygon(9% 0, 76% 1%, 93% 73%, 27% 100%);
}

.blogs-container .blog-title h1 {
  font-size: 4rem;
  margin: 0;
  font-weight: 500;
}
.blogs-container .blog-title p {
  font-size: 20px;
  font-weight: 500;
}/*# sourceMappingURL=main.css.map */